*{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.titulo{
    justify-content: center;
}
.titulo h1{
    display: flex;
    background: #000000;
    justify-content: center;
    color:#ffffff;
    padding: 5px;
    font-weight: 500;
    font-size: 50px;
}
.titulo img{
    width: 100%;
    height:50%;
}

.desc-section {
    display: flex;
    background: #000000;
    justify-content: center;
    padding: 10px 120px;
    margin-top: -4px;
}

.contenido {
    flex: 1;
    padding: 30px;
    margin-top: 30px;
}

.contenido p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 30px;
    font-weight: 300;
    color: #FFFFFF;
}

.imagen-izquierda {
    width: 399px;
    height: 237px;
    padding: 40px;
}

.icons-section{
    align-items: center;
    background: #1E1A13;
    margin-top: 0px;
    padding: 50px;
   
}

.icons-section h2{
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    color: #ffffff;
    font-weight: lighter;
    font-weight: 500;
}

.icons {
    display: flex;
    margin: 0 auto 30px;
    justify-content: space-around;
    width: 80%;
}

.icon{
    text-align: center;
    align-items: center;
}

 .icon i{
    align-items: center;
    font-size: 50px; 
    color: #FFFFFF;
}

.icon  p{
    color: #FFFFFF;
    margin-top: 10px;
    font-weight: 300;
    font-size: 25px;
}
.fotos{
    justify-content: center;
    display: flex;
    background: #000000;
    margin-top: 0px;
    left: 814px;
}
.fotosiguanas{
    padding: 30px;
    margin-bottom: 73px;
    margin-top: 73px;
    
}
.fotosiguanas img{ 
    justify-content: center;
    height: 202px;
    width: 316px;
    margin-right: 16px;

}

footer{
    background:#1E1A13 ;
}
footer p{
    justify-content: center;
    font-weight: 300;
    font-size: 26px;
    color:#FFFFFF;
    padding: 40px;
    display: flex;
}
